/*-------- FOOTER -----------------------------------------------------------------------------*/
#footer {
  background-color: #051C0B;
  color: white;
  height: 10em;
  padding-bottom: 1em;
  margin-top: 2em;
}

#footer h2 {
padding-top: 0.5em;
margin-bottom: 0.5em;
font-size: 14pt;
}

/* CONTATTI*/
#contacts {
float: left;
width: 10%;
margin-left: 1em;
text-align: left;
}

#contacts li{
padding-bottom: 0.2em;
}

#contacts a:link, a:visited, a:hover{
color:#CCCCCC;
text-decoration: none;
}

#contacts a:hover {
text-decoration: underline;
}

/* PUNTI VENDITA */
.footerListName {
text-decoration: underline;
font-weight: bold;
color:#DDD;
}

#stores {
float: left;
text-align: center;
width: 70%;
}

#stores ul {
display: inline-block;
padding-left: 2em;
list-style-type: none;
}

#stores ul li{
margin-bottom: 0.2em;
}

/* SOCIAL */
#social{
float: right;
width: 10%;
text-align: left;
margin-bottom: 0.5em;
}

#social a:link{
text-decoration: none;
color:#CCCCCC;
}

#social img{
width: 8%;
}

#social li{
padding-bottom: 0.2em;
}

#diritti{
color: #FFFFFF;
background-color: #020E0A;
text-align: center;
padding: 1em;
}

