* {
padding: 0;
margin: 0;
}
html {
background-color: #ffffff;
width: 100%;
height: 100%;
}
body {
margin: auto;
background-color: white;
font-family: "Arial", cursive, sans-serif;
}
.main {
margin: auto;
max-width: 1280px;
}
.helps,
.hideDesktop,
.hideClient,
.backToHeader span {
position: absolute;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
}
.default-text {
color: rgba(10, 8, 8, 0.479);
}
.formErrors {
color: rgb(134, 2, 2);
padding: 0.5em 0;
display: block;
font-size: 0.9em;
}
.formSuccess {
color: green;
padding: 0.5em 0;
display: block;
font-size: 0.9em;
}
.rightMessage {
color: #093013;
display: block;
font-size: 0.9em;
}
#breadcrumb {
text-align: left;
padding: 0.6em;
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
font-weight: bold;
color: black;
background-color: #244224;
}
#navigation a:link,
#navigation_dashboard a:link,
#breadcrumb p,
#breadcrumb a:link {
color: white;
}
#navigation a:visited,
#navigation_dashboard a:visited,
#breadcrumb a:visited {
color: #CDA434;
}
#navigation a:hover,
#navigation_dashboard a:hover,
#breadcrumb a:hover {
text-decoration: none;
}
h1 {
font-size: 1.5em;
font-weight: 700;
text-align: center;
margin: 0.5em;
}
h2 {
font-size: 1.3em;
font-weight: 600;
margin-bottom: 0.3em;
}
fieldset {
padding-bottom: 0.5em;
border: none;
}
label,
legend {
display: block;
font-weight: 700;
padding: 0.5em;
}
legend {
float: left;
text-align: center;
width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
box-sizing: border-box;
width: 100%;
border: 1px solid #DDD;
padding: 0.8em;
border-radius: 5px;
resize: none;
}
.buttons {
padding: 0.5em 1em;
margin: 0.5em;
border-radius: 5px;
background-color: #093013;
color: #CDA434;
font-weight: bold;
text-decoration: none;
display: inline-block;
font-size: 1em;
border: 1px solid #DDD;
}
.buttons:hover {
background-color: #020E0A;
color: white;
}
abbr {
text-decoration: none;
}
.helpBackToHeader {
width: 100%;
text-align: center;
margin-bottom: 0.5em;
}
.backToHeader {
font-weight: bold;
color: white;
background-color: #093013;
padding: 0.5em 0.8em;
border-radius: 5px;
}
.backToHeader:hover,
.backToHeader:visited:hover {
color: #CDA434;
text-decoration: none;
}
.backToHeader:visited {
color: white;
}
.inputForm {
margin: 2em auto 1em auto;
text-align: left;
min-width: 25em;
max-width: 25em;
border-radius: 5px;
border: 1px solid #DDD;
padding: 1em;
background-color: #F2E8CF;
}
.inputForm label input[type="checkbox"] {
margin: 0em 0.4em;
}
.inputForm a {
font-weight: bold;
display: block;
}
.selectForm {
background-color: white;
border: 1px solid #DDD;
}
#category {
display: block;
}
table {
margin: 3em auto;
width: 75%;
text-align: center;
border-collapse: collapse;
}
table td, th{
padding: 0.5em;
border: 1px solid #000;
}
table th {
background-color:  #093013;
border: 1px solid #000;
color: #CDA434;
}
table td {
background-color: white;
}
#header {
width: 100%;
color: white;
font-weight: bold;
background-color: #020E0A;
}
#headerLogoAndUtility {
width: 100%;
min-height: 5em;
}
#logo {
width: 100%;
height: 100%;
}
#imageContainer {
width: 15%;
float: left;
margin: 0.3em 0.5em 0 0;
}
#utilityBar {
float: left;
margin-top: 1.3em;
width: 55%;
}
#utilityButtons {
float: right;
margin-top: 1.3em;
}
#productSearchBar {
width: 85%;
display: inline-block;
padding: 0.8em 0.5em 0.65em 0.5em;
border-radius: 4px;
}
#utilityBar .buttons {
color: white;
}
#cartButton,
#loginButton,
#productSearchButton {
padding: 0.6em;
margin: 0 0.2em;
}
#cartButton span,
#loginButton span{
font-weight: bold;
}
#cartButton:hover,
#loginButton:hover,
#productSearchButton:hover,
#cartButton:visited:hover,
#loginButton:visited:hover,
#productSearchButton:visited:hover {
border-radius: 4px;
color: #020E0A;
background-color: #F2E8CF;
}
#cartButton:visited,
#loginButton:visited{
color: #CDA434;
}
.fa-search {
font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#navigation {
clear: both;
text-align: center;
background-color: #093013;
padding: 0.8em;
list-style-type: none;
}
#navigation li {
display: inline;
margin: 0.2em 1.5em;
border: 1px solid transparent;
border-radius: 4px;
}
#navigation a {
padding: 0.6em;
border: 1px solid transparent;
}
#navigation ul li span,
#navigation_dashboard ul li span {
color: white;
text-decoration: none;
border: 1px solid #DDD;
border-radius: 5px;
background-color: #020E0A;
padding: 0.5em;
}
#navigation_dashboard {
text-align: center;
background-color: #093013;
padding: 0.8em;
list-style-type: none;
}
#navigation_dashboard li {
list-style-type: none;
margin: 0.3em 0em;
border-radius: 4px;
}
.selectedButton {
display: block;
margin: 0.5em auto;
background-color: #031808;
color: white;
width: 80%;
text-align: center;
}
#mobileMenu {
display: none;
margin-bottom: 0.5em;
}
#mobileMenuDashboard {
padding: 0.5em;
color: white;
background-color: #051C0B;
border: 1px solid #DDD;
border-radius: 4px;
margin-left: 90%;
}
#productContent h2 {
font-size: 1.5em;
font-weight: bold;
margin: 1em 0;
}
#productContenitor {
background-color: #F2E8CF;
border: 1px solid #093013;
border-radius: 10px;
margin: 1em;
}
#productContenitor dl dt {
font-size: 1.3em;
font-weight: bold;
background-color: #093013;
border-radius: 8px 8px 0px 0px;
padding: 0.2em 0.3em;
color: #CDA434;
}
#productContenitor dl dd img {
float: left;
max-width: 17em;
max-height: 12em;
margin: 1em;
border-radius: 5px;
}
#productContenitor dl dd p {
padding: 1em;
}
#productContenitor a:link {
text-decoration: none;
}
#addToCartButton {
display: block;
margin: 0.5em auto;
}
#productTableContent {
border-radius: 10px;
margin: 0.5em 0.5em 2em 0.5;
background-color: #093013;
width: 60%;
margin: 0 auto;
}
#productTableContent table {
text-align: center;
border-collapse: collapse;
}
#productTableContent tr,
#productTableContent td,
#productTableContent th {
border: 1px solid transparent;
}
#productTableContent th {
border-bottom: 1px solid #DDD;
background-color: transparent;
border-right: transparent;
border-left: transparent;
border-top: transparent;
color: #CDA434;
}
#productTableContent td {
color: white;
border: transparent;
background-color: transparent;
}
#loginAndRegistrationContent {
margin: auto;
text-align: center;
}
.formContainer {
display: inline-block;
vertical-align: top;
margin: 1em 3em auto 3em;
}
#cartContent {
border-right: 1px solid #DDD;
border-left: 1px solid #DDD;
}
#cartContent img {
float: left;
width: 10%;
margin: 1em 3em;
}
#cartContent h1 {
font-size: 2em;
}
#selectedProduct {
clear: left;
padding: 1em;
margin: 1em 3em;
border-radius: 10px;
background-color: #F2E8CF;
}
#selectedProduct a:link {
text-decoration: none;
}
#purchaseButton {
display: block;
margin: 0.5em auto;
text-decoration: none;
}
#filters {
float: left;
max-width: 20%;
padding: 1.5em;
border: 1px solid #DDD;
background-color: #F2E8CF;
border-radius: 5px;
margin-top: 4.9em;
margin-left: 2em;
}
#filters a{
display: block;
width: 80%;
margin: 0.5em auto;
text-align: center;
}
#filters form div {
text-align: center;
}
#filters label {
display: inline;
}
#filters input[type="text"] {
width: 4em;
}
#rightSideContent {
overflow: hidden;
padding: 1em;
}
#rightSideContent div {
overflow: hidden;
}
#upperRightSideContent {
border-bottom: 1px solid #DDD;
padding-bottom: 1em;
}
select {
padding: 0.3em;
border-radius: 5px;
background-color: #c5c4c4;
}
.hiddenChoice {
display: none;
}
#productsList {
padding-top: 1em;
padding-bottom: 1em;
}
.products {
display: flex;
flex-wrap: wrap;
}
.product-card {
margin: 0.5em;
padding: 1em;
border: 1px solid #DDD;
border-radius: 5px;
background-color: #F5F5F5;
}
.product-image {
width: 16em;
height: 12em;
display: block;
margin: 0.3em auto;
}
.product-image img {
max-width: 16em;
max-height: 12em;
border-radius: 5px;
}
.product-info {
margin-top: auto;
text-align: left;
max-width: 15em;
}
#filtersForm fieldset div span {
float: left;
}
#productList .helpBackToHeader {
clear: both;
}
.stylelessList {
list-style-type:none;
text-align: left;
}
#footer {
display: inline-block;
width: 100%;
background-color: #051C0B;
color: white;
min-height: 10em;
margin-top: 0.5em;
}
#footer div {
display: inline-block;
text-align: center;
vertical-align: top;
padding: 0.3em 0;
}
#footer div ul {
list-style-type: none;
}
#upperFooterContainer {
width: 100%;
}
#footer h3 {
font-size: 1em;
margin-bottom: 0.5em;
}
#footer a:link {
color: white;
}
#footer a:hover,
#footer a:visited:hover {
text-decoration: none;
}
#footer a:visited {
color: #CDA434;
}
#contacts {
width: 100%;
}
#contacts ul {
text-align: center;
}
#stores {
width: 100%;
}
#stores div {
padding: 0.5em;
margin: 0 0.3em;
}
#stores h3 {
text-align: left;
}
#social {
width: 100%;
}
#social ul {
text-align: center;
}
#social ul li {
padding-bottom: 0.2em;
}
#social img{
width: 1em;
margin-right: 0.1em;
}
#diritti{
width: 100%;
color: #FFFFFF;
background-color: #020E0A;
}
#diritti p {
font-weight: 400;
text-align: center;
color: #FFFFFF;
}
#contentHome{
width: 85%;
display: block;
margin: 1em auto;
background-color: #F2E8CF;
border-radius: 10px;
}
#contentHome img{
width: 50%;
display: block;
margin: 1em auto;
padding-top: 1em;
}
#contentHome p{
font-size: 1.2em;
margin: 0 2em;
text-align: center;
padding-bottom: 1em;
}
#contentHome h1{
font-size: 2em;
text-align: center;
color: #093013;
}
#effects {
display: block;
}
#credentialChange_mail {
font-weight: bold;
text-align: center;
}
#aboutUsContent h1 {
text-align: center;
font-weight: bold;
}
#aboutUsContent p {
text-align: center;
width: 80%;
margin: 0 auto;
border-radius: 10px;
background-color: #F2E8CF;
padding: 0.7em;
border: 1px solid #DDD;
}
#aboutUsContent dl {
width: 80%;
margin: 2% 20%;
}
#aboutUsContent dl dt {
width: 70%;
background-color: #093013;
border: 1px solid rgb(165, 164, 164);
border-bottom: transparent;
border-radius: 10px 10px 0px 0px;
color: white;
font-weight: bold;
padding: 0.3em; 
}
#aboutUsContent dl dd {
width: 70%;
display: inline-block;
background-color: #F2E8CF;
border: 1px solid rgb(165, 164, 164);
border-top: transparent;
padding: 0.3em;
margin-bottom: 1.5em;
border-radius: 0px 0px 10px 10px;
}
#aboutUsContent dl dd img {
float: left;
width: 15%;
border-radius: 7px;
border: 1px solid rgb(165, 164, 164);
margin-right: 1em;
}
#aboutUsContent dl dd p {
border: none;
background-color: transparent;
padding: 0.3em;
padding-left: 2em;
text-align: left;
}
#contentFAQ div {
width: 80%;
background-color: #F2E8CF;
border: 1px solid rgb(165, 164, 164);
border-radius: 10px;
margin: 1.5em auto;
}
#contentFAQ div h2 {
font-weight: bold;
padding: 0.5em 0 0.2em 0.5em;
}
#contentFAQ div p {
padding: 0em 0.7em 0.3em 0.7em;
}
.insertEffects {
font-weight: bold;
font-size: 1.2em;
margin: 0.7em auto;
}
#inserisciCaratteristicheDashboard {
width: 95%;
}
#inserisciCaratteristicheDashboard fieldset input {
width: 90%;
display: block;
margin: 0.5em auto;
}
.fieldsetCharacteristics label input {
margin-right: 0.5em;
}
#content404 img {
width: 100%; 
margin-bottom: 1em;
}