* {
    padding: 0em;
    margin: 0em;
}

html {
    background-color: #ffffff;
    width: 100%;
}

body {
    margin: auto;
    background-color: white;
    font-family: "Arial", cursive, sans-serif;
}

/*------- HEADER -------------------------------------------------------------------------------*/

#header {
    width: 100%;
    color: white;
    font-weight: bold; 
    border-bottom: 1px solid #DDD;
    background-color: #051C0B; 
    min-height: 10%;
}

#logo {
    float: left;
    margin: 0 1% 0 0.5%;
    width: 14%;
    max-width: 14%;
}

/*  questo si riferisce all'intero form per la ricerca  */
#headerSearchBar {
    float: left;
    width: 65%;
    margin-top: 1.5%;
}

/*  questo si riferisce alla sola barra di ricerca  */
#productSearchBar {
    padding: 0.7em 22em;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
}

#headerButtons {
    float: right;
    width: 15%;
    margin-top: 1.5%;
}

#headerUsername {
    float: right;
    display: none;
}

.buttons {
    padding: 0.7em 1.5em;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #6A994E;
    color: white;
    font-weight: bold;
}

.buttons:hover {
    border: 1px solid white;
    background-color: #A7C957;
}

/*----------- MENU ---------------------------------------------------------------------------*/

#headerMenu {
    clear: left; 
    background-color: #6A994E;
    padding: 0.5% 30%;
    list-style-type: none;
}

#headerMenu li {
    display: inline;
    padding: 0.3% 1%;
    margin: 0.2% 1.5%;
    border: 1px solid transparent;
    border-radius: 4px;
}

#headerMenu li:hover {
    border: 1px solid #DDD;
    background-color: #A7C957;
}
/*--------- FINE HEADER -------------------------------------------------------------------------*/

/*---- DESCRIZIONE PRODOTTO ---------------------------------------------------------------------*/

#productContent {
    padding: 1em;
    margin: 0 7.5%;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

#productContent h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1.5% 0;
}

#productDefinition dt {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

#productDefinition dd {
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #F2E8CF;
    min-height: 12em;
}

#productDefinition dd img {
    float: left;
    width: 20%;
    margin: 1% 0 0 1%;
}

#productDefinition dd p {
    width: 75%;
    padding: 0.7% 1%;
    margin-left: 22%;
}

#productContent table {
    width: 60%;
    margin: 0 20%;
    text-align: center;
    border-collapse: collapse;
}

#productContent table tr, td, th {
    border: 1px solid #000;
    padding: 1.5% 0.5%;
}

#productContent table th {
    background-color: #6A994E;
}

#productContent table td {
    background-color: #F2E8CF;
}

/*---------- RECENSIONI ------------------------------------------------------------------------*/

#yourReview {
    width: 80%;
    margin: 0 20% 5% 20%;
}

#yourReview label {
    float: left;
    font-weight: bold;
}

#reviewBox {
    clear: left;
    margin: 1em 20em 1em 0;
    padding: 0.5em 37em 6em 0.5em;
    border: 1px solid grey;
    border-radius: 10px;
}

#reviewBox:hover{
    border: 1px solid #000;
}

#submitReview:hover {
    border: 1px solid #000;
}

/*

/*   LOGIN   */

#loginContent {
    width: 60%;
    margin: 10% 20%;
}

#loginFieldset {
    background-color: #F2E8CF;
    border-radius: 4px;
    margin-bottom: 1%;
}

#loginLegend {
    margin-left: 2%;
    margin-bottom: 2%;
}

#loginContent label{
    margin-left: 7%;
}

#loginContent input[type=submit] {
    margin: 2% 1% 2% 35%;
}

#loginContent a {
    font-weight: bold;
}

#loginContent a:hover {
    color: red;
}

#loginContent a:visited {
    color:#6A994E;
}

/*---------- CARRELLO --------------------------------------------------------------------------*/

#cartContent {
    margin: 0 7.5%;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;    
}

#cartContent img {
    float: left; 
    width: 20%;
    margin: 0 3em;
}

#selectedProduct {
    clear: left;
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #F2E8CF;
    padding: 20em;
    margin: 1em 3em;
}

