* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #ffffff;
    width: 100%;
}

body {
    margin: auto;
    background-color: white;
    font-family: "Arial", cursive, sans-serif;
}

.main {
    margin: auto;
    max-width: 1280px;
}

.helps {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.default-text {
    color: rgba(10, 8, 8, 0.479);
}

.formErrors {
    color: red;
    padding: 0.5em 0em;
    display: block;
}

.rightMessage {
    color: green;
    display: block;
}

#breadcrumb {
    text-align: left;
    padding: 0.6em;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: black;
    background-color: #244224;
}

#breadcrumb p {
    color: white;
}

#breadcrumb a:link {
    color: white;
}

#breadcrumb a:active {
    text-decoration: none;
}

#breadcrumb a:visited {
    color: #CDA434;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 0.5em;
}

h2 {
    font-size:1.3em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

fieldset {
    padding-bottom: 0.5em;
    border: none;
}

label,
legend {
    display: block;
    font-weight: 700;
    padding: 0.5em;
}

legend {
    float: left;
    text-align: center;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.8em;
    border-radius: 5px;
    resize: none;
}

.buttons {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 4px;
    background-color: #093013;
    color: #CDA434;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border: 1px solid #DDD;
}

.buttons:hover {
    background-color: #020E0A;
    color: white;
}

#header #utilityBar .buttons {
    border-radius: 4px;
    background-color: #093013;
}

#header #utilityBar .buttons:active {
    border-radius: 4px;
    color: #020E0A;
    background-color: #F2E8CF;
}

#productSearchButton {
    background-color: #093013;
    color: white;
}

abbr {
    text-decoration: none;
}

.hidden_helpBackToHeader,
.displayed_helpBackToHeader {
    width: 100%;
    background-color: #093013;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: center;
}

.backToHeader {
    font-weight: bold;
    color: white;
}

.backToHeader:active {
    color: #CDA434;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

.hide {
    display: none;
}

/*
============= TABELLE RESPONSIVE PER MOBILE =========================
*/

.responsiveTable table,
.responsiveTable thead,
.responsiveTable tbody,
.responsiveTable tfoot,
.responsiveTable th,
.responsiveTable td,
.responsiveTable tr {
    display: block;
}

.responsiveTable thead tr {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.responsiveTable tr td {
    border: none;
    border-bottom: 1px solid rgb(119, 111, 111);
    padding-left: 50%;
    position: relative;
    text-align: right;
    white-space: normal;
    padding: 1em;
}

.responsiveTable tr td:before {
    font-weight: bold;
    left: 6px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 6px;
    white-space: normal;
    width: 45%;
}

.responsiveTable tr td:before {
    content: attr(title);
}

/*
==================================FORMS========================
*/

.inputForm {
    margin: 1em 1.5em;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 1em;
    background-color: #F2E8CF;
}

.inputForm a {
    font-weight: bold;
    display: block;
}

.selectForm {
    background-color: white;
    border: 1px solid #DDD;
}
/*
==================================TABELLE======================
*/

table {
    margin: 3em auto 3em auto;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
}

table td, th{
    padding: 0.5em;
    border: 1px solid #000;
}

table th {
    background-color:  #093013;
    border: 1px solid #000;
    color: #CDA434;
}


/*------- HEADER -------------------------------------------------------------------------------*/

#header {
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #020E0A;
}

#headerLogoAndUtility {
    display: inline-block;
    width: 100%;
}

#logo {
    width: 100%;
}

#imageContainer {
    width: 40%;
}

#utilityBar {
    padding: 1em;
}

#headerSearchBar div {
    display: inline;
    width: 100%;
}

#headerSearchBar {
    display: inline;
    width: 100%;
}

#productSearchBar {
    padding: 0.7em;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 60%;
}

#cartButton {
    position: absolute;
    top: 0.5em;
    right: 0em;
    padding: 0.6em 1em;
    margin: 0.5em;
    border: 1.5px solid #6A994E;
    border-radius: 4px;
    background-color: #6A994E;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

#cartButton span {
    display: none;
}

#loginButton {
    position: absolute;
    top: 0.5em;
    right: 3.5em;
}
/*----------- MENU ---------------------------------------------------------------------------*/

#navigation {
    text-align: center;
    background-color: #093013;
    padding: 0.8em;
    list-style-type: none;
}

#navigation ul {
    border-top: 1px solid #DDD;
    margin-top: 0.5em;
}

#navigation li {
    list-style-type: none;
    margin: 0.3em 0em;
    border-radius: 4px;
}

#navigation a:link {
    text-decoration: none;
    color: white;
}

#navigation a:visited {
    color: #CDA434;
}

#navigation a:active {
    background-color: #F2E8CF;
    border-radius: 4px;
    color: #051C0B;
}

/*
================ MENU HAMBURGER ===================================
*/

#mobileMenu_visible,
#mobileMenu_hidden {
    padding: 0.5em;
    color: white;
    background-color: #051C0B;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 90%;
}

#mobileMenu_visible {
    display: block;
}

#mobileMenu_hidden {
    display: none;
}

/*
================= AREA PERSONALE ===============================
*/

#avviso_utenteNonLoggato {
    background-color: #F2E8CF;
    border-radius: 4px;
    margin: 1em;
    padding: 3em 0em;
}

#avviso_utenteNonLoggato p {
    text-align: center;
}

#avviso_utenteNonLoggato p a {
    color: #6A994E;
    font-weight: bold;
}

#avviso_utenteNonLoggato p a:visited {
    color: #051C0B;
}

#logoutButton {
    width: 100%;
    text-align: center;
}

/*---- DESCRIZIONE PRODOTTO ---------------------------------------------------------------------*/

#productContent h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0.9em;
}

#productContenitor {
    background-color: #F2E8CF;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 0.5em 1.3em;
}

#productContenitor dl dt {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 0.6em;
}

#productContenitor dl dd {
    min-height: 12em;
}

#productContenitor dl dd img {
    max-width: 90%;
    margin: 1em;
}

#productContenitor dl dd p {
    margin: 0.5em 1em;
}

/*------------ TABELLA PRODOTTO -------------------------------------------------------------*/
#productTableContent {
    border-radius: 10px;
    margin: 0.5em 5em;
    background-color: #093013;
}

#productTableContent table {
    margin: 1em auto;
    text-align: center;
    border-collapse: collapse;
}

#productTableContent tr,
#productTableContent td,
#productTableContent th {
    border: 1px solid transparent;
}

#productTableContent th {
    border-bottom: 1px solid #DDD;
    background-color: transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #CDA434;
}

#productTableContent td {
    color: white;
    border: 1px solid transparent;
}

/*---------- FINE DESCRIZIONE ------------------------------------------------------------------*/

/*-------------------LOGIN/REGISTRAZIONE-----------------  */
#loginAndRegistrationContent {
    margin: auto;
    text-align: center;
}

#loginForm a:link {
    color: #093013;
}

#loginForm a:visited {
    color: rgb(134, 2, 2);
}

.formContainer {
    display: inline;
    vertical-align: top;
}
/*-------------------FINE LOGIN/REGISTRAZIONE-----------------  */

/*---------- CARRELLO --------------------------------------------------------------------------*/

#cartContent {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

#cartContent img {
    float: left;
    width: 15%;
    margin: 1em 3em;
}

#cartContent h1 {
    float: left;
    margin-top: 2.5em;
}

#selectedProduct {
    clear: left;
    padding: 1em;
    margin: 1em 0.1em;
    border-radius: 10px;
    background-color: #F2E8CF;
}

#selectedProduct table {
    width: 100%;
    margin: 0.5em auto;
}

/*
==================================Lista prodotti================================
*/
#productList {
    width: 100%;
}

#filters {
    width: 95%;
    border-bottom: 1px solid #ddd;
    background-color: #F2E8CF;
}

#filters form div {
    text-align: center;
}

#filters label {
    display: inline;
}

#filters input[type="text"] {
    width: 4em;
}

#upperRightSideContent {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    text-align: center;
}

select {
    padding: 0.3em;
    border-radius: 5px;
    background-color: #c5c4c4;
}

.hiddenChoice {
    display: none;
}

#orderBy {
    margin: 0.5em 0em;
}

#productsList {
    padding-top: 1em;
    padding-bottom: 1em;
}
/* queste regole che seguono sono in previsione di oggetti per il negozio */
.singleProduct {
    display: flex;
    flex-direction: row;
    padding: 2em;
    border: 1px solid #ddd;
}

.singleProduct img {
    text-align: center;
    padding: 1em;
}

/* titolo del box che contiene il prodotto e descrizione del prodotto*/
.singleProduct h2,
p {
    text-align: left;
}

#productsPageNumber {
    text-align: center;
    display: inline;
    width: 100%;
}

/*
====================FAQ=======================================
*/

.stylelessList {
list-style-type:none;
text-align: left;
}

#contentFAQ ul {
    margin: 0em 1em;
}

#contentFAQ li {
border: 1px solid;
padding:1em;
border-radius: 1.5em;
margin-bottom:2em;
background-color: #F2E8CF;
}

/*
============ FOOTER ===========================================================================
*/

#footer {
    display: inline-block;
    width: 100%;
    background-color: #051C0B;
    color: white;
    min-height: 10em;
    margin-top: 0.5em;
}

#footer div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#footer div ul {
    text-align: center;
}

#upperFooterContainer {
    width: 100%;
}

#footer h3 {
    font-size: 1em;
    margin-bottom: 0.2em;
}

#footer a:link {
    color: white;
}

#footer a:hover {
    text-decoration: none;
}

#footer a:visited {
    color: #CDA434;
}

#stores div {
    padding: 0em 1.8em;
}

#stores div h3,
#stores div ul {
    text-align: center;
}

#stores div ul {
    margin-bottom: 0.7em;
}

#contacts ul li a:active {
    text-decoration: underline;
}

/*
=================== CONTATTI ===================================================================
*/

#contacts {
    margin: 1em;
}

/* 
================== PUNTI VENDITA ==============================================================
*/

#stores{
    min-width: 78%;
    margin: 1em;
}

#stores div {
padding-right: 2em;
min-width: 11em;
}

#stores h3 {
    text-align: left;
}

/* 
=============== SOCIAL ==========================================================================
*/

#social {
    margin: 1em;
}

#social ul li {
    padding-bottom: 0.5em;
}

#social img{
width: 1em;
margin-right: 0.1em;
}

#diritti{
width: 100%;
color: #FFFFFF;
background-color: #020E0A;
}

#diritti p {
    margin: 1em;
    font-weight: 600;
}

/*
============== SU DI NOI ==========================
*/

#aboutUsContent dt {
    display: inline-block;
    width: 80%;
    margin: 1% 10%;
    background-color: #F2E8CF;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgb(155, 153, 153);

}

#aboutUsContent p {
    width: 80%;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgb(155, 153, 153);
    background-color: #F2E8CF;
}

#aboutUsContent ul {
    list-style-type: none;
    font-weight: bold;
    padding: 0em 0.5em;
}

#aboutUsContent img {
    width: 30%;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: 6px;
}

/*
=============== Inserisci Prodotto ========================
*/

#effects {
    display: block;
}

#credentialChange_mail {
    font-weight: bold;
    text-align: center;
}