/*
====================FAQ=======================================
*/

#contentFAQ{
margin-left:5em;
margin-right:5em;

}

#contentFAQ h2{
font-size:16pt;


}
#contentFAQ ul {
list-style-type:none;
}

#contentFAQ li {
border: 1px solid;
padding:1em;
border-radius: 1.5em;
margin-bottom:2em;
background-color: #F2E8CF;
}
/*
============ FOOTER ===========================================================================
*/
#footer {
  background-color: #051C0B;
  color: white;
  height: 10em;
  padding-bottom: 1em;
  margin-top: 2em;
}

#footer h2 {
padding-top: 0.5em;
margin-bottom: 0.5em;
font-size: 14pt;
}

#footer h3 {
font-size: 11pt;
text-align: center;
margin-bottom: 0.5em;
}

ul li {
margin-bottom: 0.2em;
}

/*
=================== CONTATTI ===================================================================
*/
#contacts {
float: left;
width: 10%;
margin-left: 1em;
text-align: left;
}

#contacts a:link, a:visited, a:hover{
color: white;
text-decoration: none;
}

#contacts a:hover {
text-decoration: underline;
}

/* 
================== PUNTI VENDITA ==============================================================
*/
#stores {
display: inline-block;
text-align: center;
margin: 0 5%;
width: 60%;
}

#shop1,
#shop2,
#shop3,
#shop4 {
display: inline-block;
padding-left: 2em;
list-style-type: none;
}

/* 
=============== SOCIAL ==========================================================================
*/
#social{
float: right;
width: 10%;
text-align: left;
margin-right: 0.5em;
}

#social h3 {
text-align: left;
}

#social a:link{
text-decoration: none;
color: white;
}

#social img{
width: 8%;
margin-right: 0.1em;
}

#diritti{
clear: both;
color: #FFFFFF;
background-color: #020E0A;
text-align: center;
padding: 1em;
}
/*
========================================HOME==========================
*/
body {
  margin: 0;
  padding:0;
}

#breadcrumb{
  background-color: #020E0A;
  color:#FFFFFF;
  padding:0.25em;
  margin-top: 0;
}

#contentHome{
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  background-color: #F2E8CF;
  height: 50em;
  margin-top: 2em;
}

#offerte{
  width:20%;
  border:1px solid;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
  text-align: center;
  float:left;
  margin-left: 20%;
  margin-top:1em;
}
#newArrival {
  width:20%;
  border:1px solid;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
  text-align: center;
  float:right;
  margin-right: 20%;
  margin-top:1em;
  margin-bottom: 2em;
}

#topSold{
  width: 60%;
  border: 1px solid;
  clear: both;
  margin-left:20%;
  text-align: center;
}

#companyHistory{
 text-align: center;
 font-size: 18px;
 padding:1em;
}

#footer {
  background-color: #051C0B;
  color: white;
  height:10em;
  padding-bottom: 1em;
  margin-top: 2em;
}
#contacts {
  padding-left:2em;
  padding-top: 0.5em;
  float:left;
  height: auto;
  width:10%;
  text-align: left;
}

#contacts li{
  padding-bottom: 0.2em;
}

#contacts a:link {
  color:#CCCCCC;
  text-decoration: none;
}
#contacts a:visited {
  color:#CCCCCC;
  text-decoration: none;
}
#contacts ul{
  list-style-type: none;
  text-indent: -2.5em;
}
#stores {
  float: left;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  height: auto;
  width:70%;
  text-align: center;
}
#stores ul {
  float:left;
  padding-left:9em;
  list-style-type: none;
  text-indent: -2.5em;
}
#social{
  float:left;
  padding-left: 5em;
  padding-top: 0.5em;
  height: auto;
  width:10%;
  text-align: left;
}
#social a:link{
  text-decoration: none;
  color:#CCCCCC
}
#social a:visited{
  text-decoration: none;
  color:#CCCCCC
}
#social img{
  width:8%;
}
#social ul{
  list-style-type: none;
  text-indent: -2.5em;
}
#social li{
  padding-bottom: 0.2em;
}

#diritti{
  color: #FFFFFF;
  background-color: #020E0A;
  text-align:center;
  padding: 1em;
}
#contacts h2{font-size: 14pt;}
#stores h2 {font-size: 14pt;}
#social h2 {font-size: 14pt;}
/*
============================================================AREAPERSONALE===========================================
*/
