* {
  padding: 0em;
  margin: 0em;
}

html {
  background-color: #ffffff;
  width: 100%;
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: white;
  font-family: "Arial", cursive, sans-serif;
}

/* nascondo i label in modo che rimangano visibili per gli screen reader
    da inserire un'immagine al posto del "quadratino" */
.hiddenHelp {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input[type="checkbox"]:hover,
input[type="submit"] {
  cursor: pointer;
}

#breadcrumb {
  text-align: left;
  padding: 1.5em 1.5em 1.5em 1.5em;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  background-color: #a7c957;
}

h1 {
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
}

#filters {
  float: left;
  max-width: 20%;
  min-width: 150px;
  padding: 1.5em;
  border: 1px solid #ddd;
  border-top: none;
}

#filters div {
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#filters fieldset {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: none;
  border-top: 1px solid #ddd;
}

#filters legend {
  float:left;
  width: 100%;
  padding: 0.5em;
}

#filters input[type="text"] {
  width: 4em;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em;

}

#filters input[type="submit"] {
  border: 1px solid #ddd;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}


#rightSideContent {
  overflow: hidden;
  padding: 1em;
}

#rightSideContent div {
  overflow: hidden;
}

#upperRightSideContent {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.fakeButton select {
  padding: 0.3em;
  border-radius: 5px;
  background-color: #c5c4c4;
}

.fakeButton .hiddenChoice {
  display: none;
}

#orderBy {
  float: left;
}

#productsPerPage {
  text-align: right;
}

#productsList {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* queste regole che seguono sono in previsione di oggetti per il negozio */
.singleProduct {
  display: flex;
  flex-direction: row;
  padding: 2em;
  border: 1px solid #ddd;
}

.singleProduct img {
  text-align: center;
  padding: 1em;
}

/* titolo del box che contiene il prodotto e descrizione del prodotto*/
.singleProduct h2,
p {
  text-align: left;
}

#productsPageNumber {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#footer {
  clear: both;
  background-color: black;
}
