* {
    padding: 0em;
    margin: 0em;
}

html {
    background-color: #ffffff;
    width: 100%;
}

body {
    margin: auto;
    background-color: white;
    font-family: "Arial", cursive, sans-serif;
}

/*------- HEADER -------------------------------------------------------------------------------*/

#header {
    width: 100%;
    color: white;
    font-weight: bold; 
    border-bottom: 1px solid #DDD;
    background-color: #051C0B; 
    min-height: 10%;
}

#logo {
    float: left;
    margin: 0 1% 0 0.5%;
    width: 14%;
    max-width: 14%;
    min-height: 4em;
}

/*  questo si riferisce all'intero form per la ricerca  */
#headerSearchBar {
    float: left;
    width: 65%;
    margin-top: 1.5%;
    min-height: 4em;
}

/*  questo si riferisce alla sola barra di ricerca  */
#productSearchBar {
    padding: 0.7em 45em 0.7em 0.2em;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
}

#headerButtons {
    float: right;
    width: 15%;
    margin-top: 1.5%;
}

#headerUsername {
    float: right;
    display: none;
}

.buttons {
    padding: 0.7em 1.5em;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #6A994E;
    color: white;
    font-weight: bold;
}

.buttons:hover {
    border: 1px solid white;
    background-color: #A7C957;
}

/*----------- MENU ---------------------------------------------------------------------------*/

.helps{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#navigation{
    clear: both; 
    background-color: #6A994E;
    padding: 0.5% 30%;
    list-style-type: none;
}

#navigation li{
    display: inline;
    padding: 0.3% 1%;
    margin: 0.2% 1.5%;
    border: 1px solid transparent;
    border-radius: 4px;
}

#navigation li:hover{
    border: 1px solid #DDD;
    background-color: #A7C957;
}

#navigation a:link, a:hover, a:visited, a:active{
    text-decoration: none;
    color: white;
}
/*--------- FINE HEADER -------------------------------------------------------------------------*/

/*---- DESCRIZIONE PRODOTTO ---------------------------------------------------------------------*/

#productContent {
    padding: 1em;
    margin: 0 2em;
}

#productContent h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

#productContenitor {
    float:left;
    width: 70%;
    background-color: #F2E8CF;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin-bottom: 1em;
}

#productContenitor dl dt {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 0.6em;
}

#productContenitor dl dd {
    min-height: 12em;
}

#productContenitor dl dd img {
    float: left;
    width: 20%;
    margin-top: 1em;
    margin-left: 1em;
}

#productContenitor dl dd p {
    width: 75%;
    padding: 0.5em 1em;
    margin-left: 22%;
}

#addToCartButton {
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 2.5em;
}

/*------------ TABELLA PRODOTTO -------------------------------------------------------------*/

#productTableContent {
    float: right;
    width: 20%;
    border-radius: 10px;
    background-color: #6A994E;
    margin: 0em 3em;
    margin-bottom: 1em;
}

#productTableContent table {
    margin: 1em 2.5em;
    text-align: center;
    border-collapse: collapse;
}

#productTableContent tr, td, th {
    padding: 0.3em 0.5em;
}

#productTableContent th {
    background-color: #6A994E;
    border-bottom: 1px solid #DDD;
}

#productTableContent td {
    color: white;
}


/*---------- FINE DESCRIZIONE ------------------------------------------------------------------*/

/*---------- RECENSIONI ------------------------------------------------------------------------*/

#reviewBox {
    clear: both;
    border-top: 1px solid #DDD;
}

#reviewBox form {
    width: 40%;
}

#reviewBox textarea {
    padding-left: 0.3em;
    padding-top: 0.3em;
}

#reviewBox p {
    float: right;
    width: 40%;
}

/*--------- FINE RECENSIONI PRODOTTO -------------------------------------------------------*/

/*   LOGIN   */

#loginContent {
    width: 60%;
    margin: 10% 20%;
}

#loginFieldset {
    background-color: #F2E8CF;
    border-radius: 4px;
    margin-bottom: 1%;
}

#loginLegend {
    margin-left: 2%;
    margin-bottom: 2%;
}

#loginContent label{
    margin-left: 7%;
}

#loginContent input[type=submit] {
    margin: 2% 1% 2% 35%;
}

#loginContent a {
    font-weight: bold;
}

#loginContent a:hover {
    color: red;
}

#loginContent a:visited {
    color:#6A994E;
}
/*---------- FINE LOGIN ------------------------------------------------------------------------*/

/*---------- CARRELLO --------------------------------------------------------------------------*/

#cartContent {
    margin: 0 7.5%;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;    
}

#cartContent img {
    float: left; 
    width: 20%;
    margin: 0 3em;
}

#selectedProduct {
    clear: left;
    margin: 0em 3em;
    border-radius: 10px;
    background-color: #F2E8CF;
}

#selectedProduct table {
    margin: 1em 7em;
    width: 75%;
    text-align: center;
    border-collapse: collapse;
}

#selectedProduct table td{
    padding: 0.5em 0.5em;
    border: 1px solid #000;
}

#selectedProduct table th {
    background-color: #6A994E;
    border: 1px solid #000;
}

#purchaseButton {
    margin-top: 0.5em;
    margin-left: 56em;
    margin-bottom: 0.5em;
}

