* {
padding: 0;
margin: 0;
}
html {
width: 100%;
font-family: "Times New Roman", cursive, serif;
color: #000000;
}
body {
margin: auto;
}
a{
color: #000000;
}
.main {
margin: auto;
max-width: 1280px;
}
h1 {
font-size: 1.5em;
font-weight: 700;
text-align: center;
margin: 0.5em;
}
h2 {
font-size:1.3em;
font-weight: 600;
margin-bottom: 0.5em;
}
fieldset {
padding-bottom: 0.5em;
border: none;
}
label,
legend {
display: block;
font-weight: 700;
padding: 0.5em;
}
legend {
float: left;
text-align: center;
width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
box-sizing: border-box;
width: 100%;
border: 1px solid #000000;
padding:0.4em;
border-radius: 5px;
resize: none;
}
#header,
#social h1,
#social h2,
#social h3,
#social img,
#filters,
#loginForm,
#h1Accedi,
#cartContent img,
#footer a,
#aboutUsContent img,
#contentHome img,
#credentialChange,
.product-image img,
.formSuccess,
.formErrors,
.buttons,
.nolinkhide,
.hidden_helpBackToHeader,
.displayed_helpBackToHeader,
.inputForm a,
.helps,
.helpBackToHeader{
display: none;
}
#registrationForm {
margin-bottom: 5em;
}
abbr {
text-decoration: none;
}
.inputForm {
margin: 2em auto 1em auto;
text-align: left;
max-width: 23em;
border-radius: 5px;
border: 1px solid #000000;
padding: 1em;
}
.selectForm {
border: 1px solid #000000;
}
table {
margin: 3em auto;
width: 75%;
text-align: center;
border-collapse: collapse;
border: 1px solid #000;
}
table td,
table th{
padding: 0.5em;
border: 1px solid #000;
}
#productContent h2 {
font-size: 1.5em;
margin: 0.5em 0;
}
#productContenitor {
margin: 1em auto;
width: 90%;
border: 1px solid #000;
border-radius: 10px;
}
#productContenitor dl dt {
font-size: 1.5em;
font-weight: bold;
margin-left: 0.6em;
}
#productContenitor dl dd img {
float: left;
width: 20%;
margin-top: 1em;
margin-left: 1em;
}
#productContenitor dl dd p {
width: 75%;
padding: 0.5em 1em;
padding-right: 2em;
margin-left: 22%;
}
#productContenitor dl dd {
min-height: 8em;
}
#productTableContent {
border-radius: 10px;
margin: 1em auto;
width: 40%;
border: 1px solid #000;
}
#productTableContent table {
margin: 1em auto;
text-align: center;
border-collapse: collapse;
}
#productTableContent tr,
#productTableContent th,
#productTableContent td {
padding: 0.3em 0.5em;
}
#productTableContent th {
border-bottom: 1px solid #000000;
border-right: 1px solid transparent;
border-left: 1px solid transparent;
border-top: 1px solid transparent;
}
#productTableContent td {
border: 1px solid transparent;
}
#loginAndRegistrationContent {
margin: auto;
text-align: center;
}
#rightSideContent {
overflow: hidden;
padding: 1em;
}
#rightSideContent div {
overflow: hidden;
}
#upperRightSideContent {
border-bottom: 1px solid #DDD;
padding-bottom: 1em;
}
select {
padding: 0.3em;
border-radius: 5px;
background-color: #c5c4c4;
}
#productsList {
padding-top: 1em;
padding-bottom: 1em;
}
.products {
display: flex;
flex-wrap: wrap;
}
.product-card {
margin: 1em;
padding: 1em;
border: 1px solid #ddd;
}
.product-info {
margin-top: auto;
text-align: left;
max-width: 15em;
min-width: 15em;
}
#filtersForm fieldset div span {
float: left;
}
.stylelessList {
list-style-type:none;
text-align: left;
}
#footer {
font-size: 0.9em;
width: 100%;
margin-top: 0.5em;
}
#footer div {
text-align: center;
}
#upperFooterContainer {
width: 100%;
}
#footer h3 {
font-size: 1em;
margin-bottom: 0.5em;
}
#contacts ul {
text-align: center;
margin-bottom: 1em;
}
#stores{
margin-bottom: 1em;
}
#stores div {
padding-right: 0.2em;
display: inline-block;
}
#stores h3 {
text-align: left;
}
#diritti{
width: 100%;
border-top: 1px solid #000;
}
#diritti p {
margin: 1em;
font-weight: 600;
}
#aboutUsContent h1 {
text-align: center;
}
#aboutUsContent p {
width: 80%;
margin: 0 auto;
padding: 0.5em;
}
#aboutUsContent dl {
width: 60%;
margin: 2% 20%;
border: 1px solid #000000;
}
#aboutUsContent dt {
width: 99%;
font-weight: bold;
padding-left: 1%;
border-bottom: 1px solid #000000;
border-top: 1px solid #000000;
}
#aboutUsContent dl dd p{
padding: 0.3em;
}
#contentHome{
width: 85%;
margin: 1em auto;
}
#contentHome p{
font-size: 18px;
text-align: center;
}
#contentHome h1{
font-size: 28px;
text-align: center;
}
#credentialChange_mail {
font-weight: bold;
text-align: center;
}
#breadcrumb{
margin-top: 0.5em;
}
.insertEffects {
font-weight: bold;
font-size: 1.2em;
margin: 0.7em auto;
}